* {
    font-family: arial;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    cursor: pointer;
    padding: 5px;
}
.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #97c197;
}
#inputs {
    border: 3px solid;
    border-radius: 15px;
    padding: 10px;
    background-color: #c3deb7;
}
.combobox {
    padding: 5px;
    width: 135px;
}
.button {
    background-color: black;
    border: none;
    color: white;
    padding: 5px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: 700;
    width: 134px;
 }